body[data-scroll-locked] {
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px !important;
}

.mantine-Modal-inner {
  padding-top: var(--tg-content-safe-area-inset-top, 0px);
  background-color: var(--mantine-color-body);
  left: 0;
  right: 0;
}

.mantine-List-itemWrapper {
  width: 95%;
}
